###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file configures IIS for .NET environments to redirect HTTP requests on
#### port 80 to HTTPS on port 443 after you have configured your environment to support HTTPS
#### connections:
####
#### Terminating HTTPS on EC2 Instances Running .NET:
####  http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/SSLNET.SingleInstance.html
###################################################################################################

files:
  "C:\\Windows\\Temp\\HTTP_redirect.cmd":
    content: |
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /-"[name='HTTP_redirect']" >> log.txt 2>&1 && time /t >> log.txt
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /+"[name='HTTP_redirect',enabled='true',stopProcessing='true']" >> log.txt 2>&1 && time /t >> log.txt
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /"[name='HTTP_redirect'].match.url:"^^(.*)$"" >> log.txt 2>&1 && time /t >> log.txt
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /+"[name='HTTP_redirect'].conditions.[input='{HTTPS}',pattern='^OFF$']" >> log.txt 2>&1 && time /t >> log.txt
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /"[name='HTTP_redirect'].action.type:"Redirect"" /"[name='HTTP_redirect'].action.url:"https://{SERVER_NAME}{URL}"" >> log.txt 2>&1 && time /t >> log.txt

commands:
  00-http_redirect:
    command: "C:\\Windows\\Temp\\HTTP_redirect.cmd"
