###################################################################################################
####
#### HTTPS redirection configuration for AL2 PHP platforms that use NGINX
#### This will simply redirect HTTP requests to the 443 listener on the ELB
####  
#### HTTPS redirection for all HTTP requests, unless they come from the ELB healthchecker.
#### Note that this does not require a rewrite of the default EB NGINX .conf file.
####
###################################################################################################

files:
   "/etc/nginx/conf.d/elasticbeanstalk/https_redirect.conf":
     owner: root
     group: root
     mode: "000644"
     content: |
       set $redirect 0;
       if ($http_x_forwarded_proto != "https") {
         set $redirect 1;
       }
       if ($http_user_agent ~* "ELB-HealthChecker") {
         set $redirect 0;
       }
       if ($redirect = 1) {
         return 301 https://google.com;
       }
