###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### Use this example when your environment has a Classic Load Balancer.
#### The example uses options in the aws:elb:listener namespace to configure an HTTPS listener on
#### port 443 with the specified certificate, and to forward the decrypted traffic to the instances
#### in your environment on port 80.
####
#### Set EB_ELB_ACM in your environment variables with the ARN of your certificate. The certificate can be one
#### that you created or uploaded in AWS Certificate Manager (ACM) (preferred), or one that you uploaded to IAM with the AWS CLI.
#### https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/configuring-https-elb.html#configuring-https-elb.configurationfile
###################################################################################################

option_settings:
  aws:elb:listener:443:
    SSLCertificateId:
      "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: "EB_ELB_ACM"
          DefaultValue: {"Ref":"AWS::NoValue"}
    ListenerProtocol: HTTPS
    InstancePort: 443
