###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file configures IIS for .NET environments to redirect HTTP requests on
#### port 80 to HTTPS on port 443 after you have configured your environment to support HTTPS
#### connections:
####
#### Configuring Your Elastic Beanstalk Environment's Load Balancer to Terminate HTTPS:
####  http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/configuring-https-elb.html
####
###################################################################################################

files:
  "C:\\Windows\\Temp\\ELB_HTTP_redirect.cmd":
    content: |
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /-"[name='ELB_HTTP_redirect']" > C:\Windows\Temp\ELB_HTTP_redirect.log 2>&1
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /+"[name='ELB_HTTP_redirect',enabled='true',stopProcessing='true']" >> C:\Windows\Temp\ELB_HTTP_redirect.log 2>&1
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /"[name='ELB_HTTP_redirect'].match.url:"^^(.*)$"" >> C:\Windows\Temp\ELB_HTTP_redirect.log 2>&1
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /+"[name='ELB_HTTP_redirect'].conditions.[input='{HTTP_X_FORWARDED_PROTO}',pattern='^https$',negate='true']" >> C:\Windows\Temp\ELB_HTTP_redirect.log 2>&1
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /+"[name='ELB_HTTP_redirect'].conditions.[input='{HTTP_USER_AGENT}',pattern='ELB-HealthChecker',negate='true']" >> C:\Windows\Temp\ELB_HTTP_redirect.log 2>&1
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /"[name='ELB_HTTP_redirect'].action.type:"Redirect"" /"[name='ELB_HTTP_redirect'].action.url:"https://{SERVER_NAME}{URL}"" >> C:\Windows\Temp\ELB_HTTP_redirect.log 2>&1
      iisreset >> C:\Windows\Temp\ELB_HTTP_redirect.log 2>&1

commands:
  00-http_redirect:
    command: "C:\\Windows\\Temp\\ELB_HTTP_redirect.cmd"
