###################################################################################################
#### This configuration file runs a PowerShell script that modifies the Windows registry to enable
#### Windows Update and configures it to automatically download and schedule updates.
####
#### Author: @kylegalbraith
###################################################################################################

files:
  "c:/temp/configureUpdates.ps1":
    content: |
      Invoke-Expression "reg add 'HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\WindowsUpdate\Auto Update' /v AUOptions /t REG_DWORD /d 4 /f"
      Invoke-Expression "sc config wuauserv start=auto"
      Invoke-Expression "net start wuauserv"
container_commands:
  01-execute-config-scirpt:
    command: Powershell.exe -ExecutionPolicy Bypass -File c:\\temp\\configureUpdates.ps1
    ignoreErrors: true
    waitAfterCompletion: 0