###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file configures Apache for PHP environments to rate limit the amount of 
#### unique inbound connections to 1 connection per second with a burst of 10.
#### 
#### Note there are different HTTP headers used by Apache for Load Balanced and Single Instance 
#### Environments for detecting the source IP address. Load Balanced environments will use the
#### "HTTP_X_FORWARDED_FOR" header and Single Instance will use "REMOTE_ADDR". Configure this for
#### your environment below on line "Define src_header".
###################################################################################################

packages:
  yum:
    mod24_security: []

files:
  "/etc/httpd/conf.d/mod_security.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      # The amount of connections per second.
      Define cons_per_sec 1
      # The amount of connections that a single remote ip can burst to.
      Define cons_burst 10
      # The header to use for tracking source ip addresses. Use "X-Forwarded-For" for Load Balanced environments and "REMOTE_ADDR" for Single instance.
      Define src_header X-Forwarded-For
      #Define src_header REMOTE_ADDR

      <IfModule mod_security2.c>

      SecRuleEngine On
      SecStatusEngine Off

      <LocationMatch "^/">
          SecAction initcol:ip=%{REQUEST_HEADERS:${src_header},pass,nolog,id:11
          SecAction "phase:5,deprecatevar:ip.awscounter=${cons_per_sec}/1,pass,nolog,id:12"
          SecRule IP:AWSCOUNTER "@gt ${cons_burst}" "phase:2,deny,status:429,setenv:RATELIMITED,skip:1,log,id:13"
          SecAction "phase:2,pass,setvar:ip.awscounter=+1,nolog,id:14"
      </LocationMatch>

      SecDebugLogLevel 0
      SecDataDir /tmp

      ErrorDocument 429 "Connection Limit Exceeded"

      </IfModule>
