###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
#### http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file increases the number of MPM Prefork daemons.
#### Its Useful on larger instance types that run out of these daemons well before memory or CPU exhaustion
#### Add this section on the end under MaxRequestWorkers to allow you to verify the change at http://yourenvironmentnamehere.elasticbeanstalk.com/server-info
#### <Location /server-info>
#### SetHandler server-info
#### </Location>
###################################################################################################

files:
  "/etc/httpd/conf.d/mpm_prefork.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      ServerLimit 512
      MaxRequestWorkers 512
