###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
#### http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file modifies logrotate frequency to 5 minutes and upload to S3
###################################################################################################

files:
    "/etc/cron.d/cron.logrotate.elasticbeanstalk.httpd.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            SHELL=/bin/sh
            PATH=/sbin:/bin:/usr/sbin:/usr/bin
            MAILTO=root
            HOME=/
            */5 * * * * root test -x /usr/sbin/logrotate || exit 0 && /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.httpd.conf

    "/etc/cron.d/cron.logrotate.elasticbeanstalk.webapp.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            SHELL=/bin/sh
            PATH=/sbin:/bin:/usr/sbin:/usr/bin
            MAILTO=root
            HOME=/
            */5 * * * * root test -x /usr/sbin/logrotate || exit 0 && /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.webapp.conf

    "/etc/cron.d/publishlogs":
        mode: "000644"
        owner: root
        group: root
        content: |
            SHELL=/bin/bash
            PATH=/sbin:/bin:/usr/sbin:/usr/bin
            MAILTO=""
            HOME=/
            #This will run every 5 minutes starting at minute 5 of each hour
            1-59/5 * * * * root publishLogs.py --de-dupe --conf-path '/opt/elasticbeanstalk/tasks/publishlogs.d/*' --location-prefix resources/environments/logs/publish/ --num-concurrent 2
            #This will run every 20 minutes starting at minute 6 of each hour
            6-59/20 * * * * root clearStaleLogPublishingRecords.py

# Commands are executed after file creation
commands:
    # Ensure that automatically created .bak files are removed from cron.d
    remove_.bak_crons:
        command: rm -f *.bak
        cwd: /etc/cron.d
    remove_rotate_crons:
        command: rm -f cron.logrotate.elasticbeanstalk.httpd.conf cron.logrotate.elasticbeanstalk.webapp.conf
        cwd: /etc/cron.hourly
