###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
#### http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file installs nodejs to a non-NodeJs solution stack. Uncomment the line that
#### relates to the specific major node version
###################################################################################################

files:
  "/tmp/prep_node_installation.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      # Uncomment the line that relates to the specific major node version you want installed

      #  The URL without a major version branch below will result in a node 0.10 installation
      #  curl --silent --location https://rpm.nodesource.com/setup | bash -
      #
      #  curl --silent --location https://rpm.nodesource.com/setup_4.x | bash -
      #  curl --silent --location https://rpm.nodesource.com/setup_6.x | bash -

  "/tmp/install_node.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      yum -y install nodejs

commands:
  00_prep_for_node_install:
    command: "sh /tmp/prep_node_installation.sh"
    ignoreErrors: false

  10_install_node:
    command: "sh /tmp/install_node.sh"
    ignoreErrors: false
