###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
#### http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file Changes MTU for Jumbo-Frame enabled instances e.g->C3.large
#### In order to get a 1500 MTU you need to also tell dhclient to ignore the interface-mtu option
#### received from the DHCP server
###################################################################################################

files:
  "/etc/dhcp/dhclient.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
     timeout 300;
     request subnet-mask,  broadcast-address, time-offset, routers, domain-name, domain-search, domain-name-servers, host-name, nis-domain, nis-servers, ntp-servers;

  "/etc/sysconfig/network-scripts/ifcfg-eth0":
    mode: "000644"
    owner: root
    group: root
    content: |
      DEVICE=eth0
      BOOTPROTO=dhcp
      ONBOOT=yes
      MTU=1500
      TYPE=Ethernet
      USERCTL=yes
      PEERDNS=yes
      IPV6INIT=no
      PERSISTENT_DHCLIENT=yes

commands:
  restart_network:
    command: sudo /sbin/service network restart
    ignoreErrors: true
