###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
#### http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file installs Oracle JDK rpm from Amazon S3 and configures the instance(s)
#### in the Elastic Beanstalk environment to use it.
#### Prior to running the below configuration please download the required Oracle JDK version
#### you wish to use and upload this file to an Amazon S3 bucket:
#### http://www.oracle.com/technetwork/java/javase/downloads/index.html
#### Replace the "Default" value in the Parameters section with the S3 URL of the Oracle JDK rpm 
#### key that you have uploaded to Amazon S3.
###################################################################################################

Parameters:
  oraclejdk: 
    Type: String
    Description: "The path to the Oracle JDK rpm in Amazon S3"
    Default: "https://s3-region.amazonaws.com/bucketname/jdk-xxxx-linux-x64.rpm"

files:
  "/tmp/oracle-jdk.rpm":
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: { "Ref" : "oraclejdk" }

  "/tmp/install-oracle-jdk.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash
      rpm -Uvh /tmp/oracle-jdk.rpm
      alternatives --install /usr/bin/java java /usr/java/default/bin/java 3
      alternatives --set java /usr/java/default/bin/java

commands:
  execute-install-oracle-jdk-script:
    command: /tmp/install-oracle-jdk.sh

Resources:
  # Use instance profile to authenticate to S3 bucket that contains the private key
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
