###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### The following sets the reverse proxy for a Node.js environment to Apache httpd rather than the
#### default, nginx.
####
#### You can also set ProxyServer to "none" to disable the proxy and serve
#### requests directly from your application. If you disable the proxy server, the other settings
#### in this namespace (static file mappings and gzip compression) are disabled.
####
#### See the following topic in the developer guide for more information:
#### http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_nodejs.container.html
###################################################################################################

option_settings:
   aws:elasticbeanstalk:container:nodejs:
     ProxyServer: apache
