###################################################################################################
#### Copyright 2017 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file creates an Amazon EFS file system with mount targets in two subnets,
#### and a security group that allows traffic from the default AWS Elastic Beanstalk instance
#### security group. Each mount target corresponds to a single Availability Zone (AZ). Depending on
#### the region, the number of available AZs will vary. You can add mount target resources and the
#### corresponding subnet option for use in more than two AZs.
####
#### EFS requires a VPC. You can use the default VPC or create a custom VPC to use. If you
#### use a custom VPC, configure it to allow DNS resolution and DNS host names. For more
#### information, see this topic in the Elastic Beanstalk Developer Guide:
####    http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/vpc.html
####
#### Specify your VPC ID and subnet IDs in the "option_settings" section below. In a custom VPC,
#### use the VPC ID and subnet IDs that you chose for the Amazon EC2 instances running your
#### application. When you create a new environment, you can specify VPC settings in a
#### configuration file with the options in the aws:ec2:vpc namespace. See
#### vpc-custom-loadbalanced.config in the environment_configuration folder for an example.
####
#### To use this configuration file in your default VPC, you must have a mount target for each
#### default subnet to ensure that all instances can connect to the file system. Use the VPC
#### management console (https://console.aws.amazon.com/vpc) to determine the number of available
#### AZs and the default subnet for each. Add a subnet option and mount target resource for
#### each additional AZ.
####
#### EFS supports two performance modes for file systems, "generalPurpose" and "maxIO". Change the
#### "PerformanceMode" value under "FileSystem" to "maxIO" for increased throughput and IOPS
#### at the expense of slightly increased latency.
####
#### EFS supports encrypted file systems. To create an EFS encrypted file system, change the
#### "Encrypted" property value to "true". If you keep the "KMSKeyId" property commented out,
#### EFS uses a default KMS key. Alternatively, you can uncomment "KMSKeyId" (remove the initial "#")
#### and set its value to a valid ARN of a KMS key.
#### For information about creating and managing keys, see the AWS Key Management Service
#### Developer Guide:
####    http://docs.aws.amazon.com/kms/latest/developerguide
####
#### To avoid creating the file system more than once, add this configuration file in a deployment
#### without any other configuration changes. After the environment update completes and the file
#### system is ready, use storage-efs-mountfilesystem.config to mount the file system on each
#### instance. Any errors caused by other configuration files added in the same deployment will
#### cause the deployment to fail and the file system to be terminated.
####
#### Back up the contents of your file system to avoid data loss when your environment is
#### terminated. The file system will also be terminated if this configuration file is removed or
#### if you change the performance mode setting.
###################################################################################################

option_settings:
  aws:elasticbeanstalk:customoption:
    VPCId: "vpc-00000000"
## Subnet Options
    SubnetA: "subnet-00000000"
    SubnetB: "subnet-00000000"

Resources:
  FileSystem:
    Type: AWS::EFS::FileSystem
    Properties:
      FileSystemTags:
      - Key: Name
        Value: "EB-EFS-FileSystem"
      PerformanceMode: "generalPurpose"
      Encrypted: "false"
#      KmsKeyId: "KMS-key-ARN"

## Mount Target Resources
  MountTargetA:
    Type: AWS::EFS::MountTarget
    Properties:
      FileSystemId: {Ref: FileSystem}
      SecurityGroups:
      - {Ref: MountTargetSecurityGroup}
      SubnetId:
        Fn::GetOptionSetting: {OptionName: SubnetA}
  MountTargetB:
    Type: AWS::EFS::MountTarget
    Properties:
      FileSystemId: {Ref: FileSystem}
      SecurityGroups:
      - {Ref: MountTargetSecurityGroup}
      SubnetId:
        Fn::GetOptionSetting: {OptionName: SubnetB}

##############################################
#### Do not modify values below this line ####
##############################################

  MountTargetSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for mount target
      SecurityGroupIngress:
      - FromPort: '2049'
        IpProtocol: tcp
        SourceSecurityGroupId:
          Fn::GetAtt: [AWSEBSecurityGroup, GroupId]
        ToPort: '2049'
      VpcId:
        Fn::GetOptionSetting: {OptionName: VPCId}