###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
#### http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### T2 Unlimited with Elastic Beanstalk for Linux based Environments
#### Since it is not directly possible to use T2 Unlimited instances with Elastic Beanstalk as of now,
#### the below provided ebextensions config file lets you use T2 instances with Surplus credits.
####
#### Note: Since the container_command "set-t2-unlimited" makes an api call "modify-instance-credit-specification",
#### the instance profile associated with the Beanstalk environment's instance must have necessary
#### permissions to make the api call (ec2:ModifyInstanceCreditSpecification).
###################################################################################################

files:
  "/tmp/t2-test.sh":
      mode: "000755"
      content : |
        #!/bin/bash
        instanceType=$(curl -s http://169.254.169.254/latest/meta-data/instance-type)
        if echo "$instanceType" | grep -qe 't2.*'
        then
          exit 0
        else
          exit 1
        fi

container_commands:
  set-t2-unlimited:
    command: |
      aws ec2 modify-instance-credit-specification --region $(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone | sed 's/[a-z]$//') --instance-credit-specification '[{"InstanceId": "'"$(curl -s http://169.254.169.254/latest/meta-data/instance-id)"'","CpuCredits": "unlimited"}]'
    test: "[ /tmp/t2-test.sh ]"
