###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
#### http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file configures the timezone on each instance in the environment.
####
#### It begins by setting an environment property "TZ" to a timezone of your choosing. Have a look
#### in /usr/share/zoneinfo on any of the instances in your environment for all possible options.
#### Additionally this configuration file sets the same chosen timezone on the instance itself by
#### changing the "/etc/localtime" and "/etc/sysconfig/clock".
#### This example uses pool.ntp.org, which requires that your instance has access to the internet.
#### The Amazon Time Sync Service is available through NTP at 169.254.169.123 for any instance 
#### running in a VPC.
###################################################################################################

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: TZ
    value: "Africa/Johannesburg"

files:
  "/tmp/set_timezone.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      NEWTIMEZONE="$(/opt/elasticbeanstalk/bin/get-config environment -k TZ)"
      if [ -z $NEWTIMEZONE ] ; then
          echo "TZ" environment property not set
          exit 1
      fi
      if [ ! -f /usr/share/zoneinfo/$NEWTIMEZONE ] ; then
          echo /usr/share/zoneinfo/$NEWTIMEZONE does not exist
          exit 1
      fi
      echo 'ZONE="'$NEWTIMEZONE'"' > /etc/sysconfig/clock
      echo 'UTC=true' >> /etc/sysconfig/clock
      ln -f -s /usr/share/zoneinfo/$NEWTIMEZONE /etc/localtime
      ntpdate -u pool.ntp.org

commands:
  00-custom-timezone:
    command: /tmp/set_timezone.sh
