{
    "Resources": {
        "AWSEBV2LoadBalancerListener": {
            "Type": "AWS::ElasticLoadBalancingV2::Listener",
            "Properties": {
                "DefaultActions": [
                    {
                        "Type": "redirect",
                        "RedirectConfig": {
                            "Protocol": "HTTPS",
                            "Port": "443",
                            "Host": "#{host}",
                            "Path": "/#{path}",
                            "Query": "#{query}",
                            "StatusCode": "HTTP_301"
                        }
                    }
                ],
                "LoadBalancerArn": {
                    "Ref": "AWSEBV2LoadBalancer"
                },
                "Port": 80,
                "Protocol": "HTTP"
            }
        },
        "AWSEBV2LoadBalancerListenerHTTPS": {
            "Type": "AWS::ElasticLoadBalancingV2::Listener",
            "Properties": {
                "Certificates": [
                    {
                    "CertificateArn": "Replace this with the certificate ARN",
                    }
                ],
                "DefaultActions": [
                    {
                        "Type": "forward",
                        "TargetGroupArn": {
                            "Ref": "AWSEBV2LoadBalancerTargetGroup"
                        }
                    }
                ],
                "LoadBalancerArn": {
                    "Ref": "AWSEBV2LoadBalancer"
                },
                "Port": 443,
                "Protocol": "HTTPS"
            }
        }
    }
}