###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file installs the SSL certificate bundle for
#### Redshift into the root Java installation so that your Java Tomcat Elastic Beanstalk
#### can securely talk to a Redshift database over SSL using standard JDBC mechanisms.
####
#### For more details, see:
#### https://docs.aws.amazon.com/redshift/latest/mgmt/connecting-ssl-support.html
#### https://docs.aws.amazon.com/redshift/latest/mgmt/connecting-transitioning-to-acm-certs.html
###################################################################################################

##############################################
#### Do not modify values below this line ####
##############################################

commands:
  01_install:
    command: "/tmp/install-redshift-ssl-cert-bundle.sh"

files:
  "/tmp/install-redshift-ssl-cert-bundle.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        REDSHIFT_ROOT_ALIAS="redshift_bundle"
        REDSHIFT_ROOT_LOCAL_FILE="/tmp/redshift-ssl-ca-bundle.crt"
        JAVA_KEYSTORE_PASSWORD="changeit"

        #via https://docs.aws.amazon.com/redshift/latest/mgmt/connecting-ssl-support.html
        ROOT_REDSHIFT_CERT_URL="https://s3.amazonaws.com/redshift-downloads/redshift-ca-bundle.crt"

        if [ -z "$JAVA_HOME" ]; then
                echo "JAVA_HOME was not set. Setting to default of /usr/lib/jvm/jre..."
                export JAVA_HOME=/usr/lib/jvm/jre
        fi

        JAVA_KEYSTORE_FILE="$JAVA_HOME/lib/security/cacerts"

        echo "Attempting to remove any previously installed Redshift SSL certificate (and ignoring errors)..."

        $JAVA_HOME/bin/keytool -delete -alias $REDSHIFT_ROOT_ALIAS -storepass $JAVA_KEYSTORE_PASSWORD -noprompt -keystore $JAVA_KEYSTORE_FILE

        echo "Downloading ${ROOT_REDSHIFT_CERT_URL}..."
        curl $ROOT_REDSHIFT_CERT_URL > $REDSHIFT_ROOT_LOCAL_FILE
        if [ $? -ne 0 ]; then
                echo "ERROR: Could not download Redshift certificate bundle!"
                exit 1
        fi

        #Installing new cert to the keystore requires root permissions
        echo 'Installing downloaded Redshift certificate into the Java keystore...'

        $JAVA_HOME/bin/keytool -import -trustcacerts -alias $REDSHIFT_ROOT_ALIAS -storepass $JAVA_KEYSTORE_PASSWORD -noprompt -keystore $JAVA_KEYSTORE_FILE -file $REDSHIFT_ROOT_LOCAL_FILE
        if [ $? -ne 0 ]; then
                echo "ERROR: Could not install Redshift certificate bundle!"
                exit 1
        fi
        echo 'Redshift certificate bundle installed successfully!'
