###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### Use this example when you want to enables an internal classic load balancer for a worker-tier environment
#### Update the AvailabilityZones details before applying this configuration file in your environment
#### Test this configuration file in your test environment before applying to production
###################################################################################################

Resources:
  AWSEBLoadBalancer:
    Type: 'AWS::ElasticLoadBalancing::LoadBalancer'
    Properties:
      AvailabilityZones:
        - YOUR_SUBNETS
        - YOUR_SUBNETS
        - YOUR_SUBNETS
      ConnectionDrainingPolicy:
        Enabled: true
        Timeout: 20
      CrossZone: true
      HealthCheck:
        HealthyThreshold: '3'
        Interval: '10'
        Target:
          'Fn::Join':
            - ''
            - - HTTP
              - ':'
              - 80
              - '/'
        Timeout: '5'
        UnhealthyThreshold: '5'
      SecurityGroups:
        - Ref: AWSEBSecurityGroup
      Scheme: internal
      Listeners:
        - InstancePort: 80
          LoadBalancerPort: '80'
          Protocol: HTTP
