###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### The following waitconditiontimeout parameter increases the instance bootstrap timeout. The
#### default is 15 minutes for Linux-based platforms and 20 for Windows Server. Set a longer
#### timeout if you get wait condition failures during environment creation. This setting can only
#### be applied during environment creation and cannot be updated. If your application takes a long
#### time to deploy due to scripts or other tasks in configuration files, increase the command
#### timeout (see `timeout-commands.config`) as well.
###################################################################################################

Parameters:
  waitconditiontimeout: 
    Type: Number
    Description: Number of seconds to wait for instances to notify Elastic Beanstalk that they have launched successfully during environment creation.
    Default: 1500

##############################################
#### Do not modify values below this line ####
##############################################

Resources:
 AWSEBInstanceLaunchWaitCondition:
  Type: AWS::CloudFormation::WaitCondition
  Properties:
    Timeout: { "Ref": "waitconditiontimeout" }