###################################################################################################
#### The following command timeout setting increases default timeout to 20 minutes from 10. Set a 
#### longer timeout if your application deployment and instance configuration operations time out.
###################################################################################################

option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 1200
