Parameters:
  commandtimeout: 
    Type: Number
    Description: "Number of seconds to wait for instances to notify Elastic Beanstalk that they have launched successfully."
    Default: 1200
Resources:
 AWSEBInstanceLaunchWaitCondition:
  Type: "AWS::CloudFormation::WaitCondition"
  Properties:
    "Timeout": { "Ref": "waitconditiontimeout" }