###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file downloads a private key from Amazon S3. Replace the values in the
#### Parameters section with the URL of the private key in Amazon S3, and the contents of the
#### public certificate. To configure Passenger to terminate HTTPS connections, include a JSON
#### file named "passenger-standalone.json" in the root of your source code with the following
#### content:
#### {
####   "ssl" : true,
####   "ssl_port" : 443,
####   "ssl_certificate" : "/etc/pki/tls/certs/server.crt",
####   "ssl_certificate_key" : "/etc/pki/tls/certs/server.key"
#### }
###################################################################################################

Parameters:
  privatekey: 
    Type: String
    Description: "The path to the private key in S3"
    Default: "https://s3-region.amazonaws.com/bucketname/privatekey.key"
  publiccert:
    Type: String
    Description: "The public certificate"
    Default: |
      -----BEGIN CERTIFICATE-----
      Paste your public certificate content here
      -----END CERTIFICATE-----

##############################################
#### Do not modify values below this line ####
##############################################

Resources:
  # Use instance profile to authenticate to S3 bucket that contains the private key
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  # Public certificate
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: { "Ref": "publiccert"}

  # Private key
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: { "Ref" : "privatekey" }
