###################################################################################################
#### This configuration file adds an ingress rule to the instance's security group to allow traffic
#### on port 443 from the Internet. Use this file to allow HTTPS traffic in a single instance
#### environment where you have configured the instance with a secure listener and certificate.
###################################################################################################

Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0