files:
  "c:/temp/installCertificate.ps1":
    content: |
      import-module webadministration
      Import-PfxCertificate -FilePath c:\temp\mycert.pfx -CertStoreLocation cert:\localmachine\my
      $Cert = dir cert:\localmachine\my | Where-Object {$_.Subject -like "*domainnamehere.com*" }
      $Thumb = $Cert.Thumbprint.ToString()
      Push-Location IIS:\SslBindings
      New-WebBinding -Name "Default Web Site" -IP "*" -Port 443 -Protocol https
      Get-Item cert:\localmachine\my\$Thumb | new-item 0.0.0.0!443
      Pop-Location
container_commands:
  01-copy-to-folder:
    command: copy .\\.ebextensions\\mycert.pfx c:\\temp\\mycert.pfx
  02-execute-script:
    command: Powershell.exe -ExecutionPolicy Bypass -File c:\\temp\\installCertificate.ps1