###################################################################################################
#### This configuration file overwrites the default Apache configuration that Elastic Beanstalk
#### provides for Tomcat environments. Use this file to redirect HTTP requests on port 80 to HTTPS
#### on port 443 after you have configured your environment to support HTTPS connections.
#### Replace www.example.com with your domain name.
###################################################################################################

files:
  /etc/httpd/conf.d/elasticbeanstalk.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        ServerName www.example.com 
        Redirect permanent / https://www.example.com

        ErrorLog /var/log/httpd/elasticbeanstalk-error_log

      </VirtualHost>