###################################################################################################
#### This configuration file modifies the ingress rule that Elastic Beanstalk adds to your
#### instances' security group when you assign a key pair for SSH connections. Use this file to
#### avoid opening port 22 to the entire world by restricting SSH connections to those coming from
#### another security group in AWS, i.e. one that you attach to a bastion host that you only launch
#### when you need to connect to an instance in the environment.
#### Replace "my-security-group" with the name of a security group in the same VPC.
###################################################################################################

option_settings:
  aws:autoscaling:launchconfiguration:
    SSHSourceRestriction: tcp, 22, 22, my-security-group