###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file modifies the ingress rule that Elastic Beanstalk adds to your
#### instances' security group when you assign a key pair for SSH connections. Use this file to
#### avoid opening port 22 to the entire world by restricting SSH connections to those coming from
#### another security group in AWS, i.e. one that you attach to a bastion host that you only launch
#### when you need to connect to an instance in the environment.
#### Replace "my-security-group" with the name of a security group in the same VPC.
###################################################################################################

option_settings:
  aws:autoscaling:launchconfiguration:
    SSHSourceRestriction: tcp, 22, 22, my-security-group