###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file prevents the AWS CloudWatch alarms that Elastic Beanstalk creates
#### for your environment from triggering scaling actions. You can use the other configuration
#### files in this folder to customize or extend the default triggers.
###################################################################################################

Resources:
   AWSEBCloudwatchAlarmHigh:
     Type: AWS::CloudWatch::Alarm
     Properties:
       AlarmActions: [ { "Ref" : "AWS::NoValue" } ]
   AWSEBCloudwatchAlarmLow:
     Type: AWS::CloudWatch::Alarm
     Properties:
       AlarmActions: [ { "Ref" : "AWS::NoValue" } ]
