###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file uses the configuration options in the aws:autoscaling:trigger
#### namespace to modify the default scaling triggers for your environment. It configures the
#### AWS CloudWatch alarms to trigger a scaling operation if average CPU utilization across all
#### instances exceeds 80% or falls below 20% for any three consecutive two minute periods.
####
#### Note that these options use minutes for the period setting whereas the equivalent parameters
#### for a CloudWatch alarm in AWS CloudFormation use seconds.
####
#### See the following topic for more information about the options in this namespace:
#### http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.managing.as.html
###################################################################################################

option_settings:
  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Statistic: Average
    Unit: Percent
    Period: '2'
    EvaluationPeriods: '3'
    LowerThreshold: '20'
    UpperThreshold: '80'
    LowerBreachScaleIncrement: '-1'
    UpperBreachScaleIncrement: '1'