files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99-docker-cleanup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # remove all stopped containers
      docker rm $(docker ps -a -q)
      # remove all unused images
      docker images -q | while read line; do docker rmi $line 2>/dev/null; done
      exit 0
