Parameters:
  bucket: 
    Type: CommaDelimitedList
    Description: "Name of the Amazon S3 bucket that contains your file"
    Default: "elasticbeanstalk-region-accountid"
  fileuri: 
    Type: String
    Description: "Path to the file in S3"
    Default: "https://s3-region.amazonaws.com/elasticbeanstalk-region-accountid/prefix/myfile.txt"
  authrole:
    Type: String
    Description: "Role with permissions to download the file from Amazon S3"
    Default: "aws-elasticbeanstalk-ec2-role"
  ## filepath: replace the file path in the files section below with your own

Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Metadata:
      AWS::CloudFormation::Authentication:
        S3AccessCred:
          type: "S3"
          roleName: { "Ref" : "authrole" } 
          buckets: { "Ref" : "bucket" }
files:
  ## Path at which to store the file on-instance
  /home/ec2-user/myfile.txt:
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    source: { "Ref" : "fileuri" }
    authentication: S3AccessCred