###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################


###################################################################################################
#### The following Node.js Platform Options specifies which web server should be used to proxy connections to Node.js.
#### Supported values for ProxyServer can be either nginx, apache or none
### If ProxyServer is set to "none", then static file mappings will not take affect and gzip compression will be disabled.
###################################################################################################

option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx                                           # Default value is nginx, alternative values can be either apache or none
