###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file creates an EFS file system with mount targets in two subnets, and a
#### security group that allows traffic from the default Elastic Beanstalk instance security group.
#### Each mount target corresponds to a single availability zone (AZ). Depending on the region, the
#### number of AZs available will vary. You can add mount target resources and the corresponding
#### subnet option for use in more than two AZs.
####
#### In a custom VPC, specify the VPC ID and subnet IDs that you chose for the EC2 instances
#### running your application. When you create a new environment, you can specify VPC settings
#### in a configuration file with the options in the aws:ec2:vpc namespace. Ensure that your
#### VPC is configured to allow DNS resolution and DNS hostnames.
####
#### To use this configuration file in the default VPC, you must have a mount target for each
#### default subnet to ensure that all instances can connect to the file system. Use the VPC
#### management console (https://console.aws.amazon.com/vpc) to determine the number of AZs
#### available and the default subnet for each. Add a subnet option and mount target resource for
#### each additional AZ.
####
#### To avoid creating the file system more than once, add this config in a deployment without
#### any other configuration changes. Any errors caused by other configs (i.e. the mount config)
#### will cause the deployment to fail and the filesystem to be terminated.
####
#### Back up the contents of your filesystem to avoid data loss when your environment is
#### terminated. The file system will also be terminated if this configuration file is removed.
###################################################################################################

option_settings:
  aws:elasticbeanstalk:customoption:
    EFSVolumeName: "EB-EFS-Volume"
    VPCId: "vpc-00000000"
## Subnet Options
    SubnetA: "subnet-00000000"
    SubnetB: "subnet-00000000"

Resources:
## Mount Target Resources
  MountTargetA:
    Type: AWS::EFS::MountTarget
    Properties:
      FileSystemId: {Ref: FileSystem}
      SecurityGroups:
      - {Ref: MountTargetSecurityGroup}
      SubnetId:
        Fn::GetOptionSetting: {OptionName: SubnetA}
  MountTargetB:
    Type: AWS::EFS::MountTarget
    Properties:
      FileSystemId: {Ref: FileSystem}
      SecurityGroups:
      - {Ref: MountTargetSecurityGroup}
      SubnetId:
        Fn::GetOptionSetting: {OptionName: SubnetB}

##############################################
#### Do not modify values below this line ####
##############################################

  FileSystem:
    Type: AWS::EFS::FileSystem
    Properties:
      FileSystemTags:
      - Key: Name
        Value:
          Fn::GetOptionSetting: {OptionName: EFSVolumeName, DefaultValue: "EB_EFS_Volume"}

  MountTargetSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for mount target
      SecurityGroupIngress:
      - FromPort: '2049'
        IpProtocol: tcp
        SourceSecurityGroupId:
          Fn::GetAtt: [AWSEBSecurityGroup, GroupId]
        ToPort: '2049'
      VpcId:
        Fn::GetOptionSetting: {OptionName: VPCId}