files:
  "/opt/elasticbeanstalk/bin/get-config":
      mode: "000755"
      content : |
        #!/bin/bash

        if [ "$1" != "environment" ]
        then
            echo $0 unsupported argument $1
            exit 1
        fi

        if [ "$2" != "-k" ]
        then
            echo $0 unsupported argument $2
            exit 1
        fi

        EB_META_DATA_FILE=/tmp/metadata.json
        ENV_VARS_FILE=/tmp/envvars
        sudo /opt/aws/bin/cfn-get-metadata -s $(</opt/elasticbeanstalk/config/ebenvinfo/stackid) -r AWSEBBeanstalkMetadata --region $(</opt/elasticbeanstalk/config/ebenvinfo/region) -k "AWS::ElasticBeanstalk::Ext">${EB_META_DATA_FILE}
        ENV_VARS=$(jq -r '.Parameters.EnvironmentVariables' < ${EB_META_DATA_FILE})
        echo ${ENV_VARS} | jq -r 'to_entries[] | [.value] | join("")' >${ENV_VARS_FILE}
        #cat ${ENV_VARS_FILE}
        #source ${ENV_VARS_FILE}
        export $(cat ${ENV_VARS_FILE} | grep $3 | xargs )
        echo ${!3}
        rm $EB_META_DATA_FILE
        rm $ENV_VARS_FILE
