###################################################################################################
#### This configuration file which limits the request body size for an Apache proxy
####
#### The workflow will create a *.conf file in the directory which Apache uses to check for
#### additional proxy configuration which extends the existing Apache proxy configuration.
####
#### The value which LimitRequestBody accepts is a number, and represent bytes. In this case the
#### request body is limited to 102400 bytes.
####
#### This will work for Apache proxy servers running on both Amazon Linux and Amazon Linux 2 AMIs
####
#### Author: @pedreviljoen
###################################################################################################

files:
    "/etc/httpd/conf.d/filelimit.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            LimitRequestBody 102400