###################################################################################################
#### This configuration file runs presents an example to modify the ec2 instance metadata.
####
#### 01_hoplimit: Modifies the http-put-response-hop-limit to 2 for an instance in the
####              eu-west-2 region (change as appropriate).
####              This allows an application running in Docker able to assume the EC2's role.
####              NOTE: The 'ec2:ModifyInstanceMetadataOptions' permission is needed in the instance profile
####                    Default name of this profile is: aws-elasticbeanstalk-ec2-role
####
#### Author: Adel Haddad @adehad
###################################################################################################

commands:
  01_hoplimit:
    command: "instanceID=$(curl http://169.254.169.254/latest/meta-data/instance-id  ) && aws ec2 modify-instance-metadata-options --region eu-west-2 --instance-id $instanceID --http-put-response-hop-limit 2 --http-endpoint enabled"
