files:
   "/etc/nginx/conf.d/elasticbeanstalk/https_redirect.conf":
     owner: root
     group: root
     mode: "000644"
     content: |
       set $redirect 0;
       if ($http_x_forwarded_proto != "https") {
         set $redirect 1;
       }
       if ($http_user_agent ~* "ELB-HealthChecker") {
         set $redirect 0;
       }
       if ($redirect = 1) {
         return 301 https://google.com;
       }
