###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### To enable WebSockets on the Python platform, this configuration file
#### configures the Apache proxy server to use ProxyPass and ProxyPassReverse to proxy the
#### connections through to a Python application running on port 8000. Change the port number to suit
#### your application's needs. The configuration file also enables the mod_proxy_wstunnel module,
#### which is required for WebSockets to work.
####
#### This configuration file works with single-instance and load-balanced environments.
####
#### If you're using a Classic Load Balancer, you need to enable TCP listeners. See:
#### http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.managing.elb.html
###################################################################################################

files:
  "/etc/httpd/conf.d/proxy-pass.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      ProxyPass /ws/ ws://127.0.0.1:8000/
      ProxyPassReverse /ws/ ws://127.0.0.1:8000/

  "/etc/httpd/conf.modules.d/99-mod_proxy_wstunnel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <IfModule !proxy_wstunnel_module>
      LoadModule proxy_wstunnel_module modules/mod_proxy_wstunnel.so
      </IfModule>
