Parameters:
 MyASGSNSTopicName: 
   Type: String
   Description: The name of your SNS topic where you want to receive your autoscaling notifications
   ## REPLACE THIS WITH YOUR TOPIC NAME
   Default: SNS_TOPIC_ARN

Resources: 
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties: 
      NotificationConfigurations:
        - TopicARN: 
            Ref: MyASG_SNSTopicName
          NotificationTypes:
            - autoscaling:EC2_INSTANCE_LAUNCH
            - autoscaling:EC2_INSTANCE_LAUNCH_ERROR
            - autoscaling:EC2_INSTANCE_TERMINATE
            - autoscaling:EC2_INSTANCE_TERMINATE_ERROR