###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file creates new high and low AWS CloudWatch alarms and configures them as
#### scaling triggers on your environment's AutoScaling Group. The alarm triggers when average CPU
#### utilization across the AutoScaling Group goes above 70% or below 30% for any 5 minute
#### measurement period.
####
#### This file creates two new alarms in addition to the two that Elastic Beanstalk creates by
#### default. You can use the other configuration files in this folder to modify or disable the
#### default triggers:
####  autoscaling-triggers-customize.config
####  autoscaling-triggers-disabledefault.config
####
#### You can change the values in the mappings section to customize the alarms. See the following
#### topics for details on available metrics, alarm configuration concepts, and valid values for
#### alarm resource properties:
####   http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ec2-metricscollected.html
####   http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html
####   http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cw-alarm.html
###################################################################################################

Mappings:
  CustomConfig:
    ScalingConfig: 
      MetricNamespace: AWS/EC2
      TriggerMeasurement: CPUUtilization
      TriggerStatistic: Average
      MeasurementPeriod: '300'
      NumCooldownPeriods: '1'
      LowerThreshold: '30'
      UpperThreshold: '70'
      LowerBreachIncrement: '-1'
      UpperBreachIncrement: '1'

##############################################
#### Do not modify values below this line ####
##############################################

Resources:
  CustomScalingAlarmHigh:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmActions:
      - {Ref: AutoScalingCustomScaleUpPolicy}
      AlarmDescription: ElasticBeanstalk custom scale up alarm
      ComparisonOperator: GreaterThanThreshold
      Dimensions:
      - Name: AutoScalingGroupName
        Value: {Ref: AWSEBAutoScalingGroup}
      EvaluationPeriods:
        Fn::FindInMap: [CustomConfig, ScalingConfig, NumCooldownPeriods]
      MetricName:
        Fn::FindInMap: [CustomConfig, ScalingConfig, TriggerMeasurement]
      Namespace:
        Fn::FindInMap: [CustomConfig, ScalingConfig, MetricNamespace]
      Period:
        Fn::FindInMap: [CustomConfig, ScalingConfig, MeasurementPeriod]
      Statistic:
        Fn::FindInMap: [CustomConfig, ScalingConfig, TriggerStatistic]
      Threshold:
        Fn::FindInMap: [CustomConfig, ScalingConfig, UpperThreshold]
  CustomScalingAlarmLow:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmActions:
      - {Ref: AutoScalingCustomScaleDownPolicy}
      AlarmDescription: ElasticBeanstalk custom scale down alarm
      ComparisonOperator: LessThanThreshold
      Dimensions:
      - Name: AutoScalingGroupName
        Value: {Ref: AWSEBAutoScalingGroup}
      EvaluationPeriods:
        Fn::FindInMap: [CustomConfig, ScalingConfig, NumCooldownPeriods]
      MetricName:
        Fn::FindInMap: [CustomConfig, ScalingConfig, TriggerMeasurement]
      Namespace:
        Fn::FindInMap: [CustomConfig, ScalingConfig, MetricNamespace]
      Period:
        Fn::FindInMap: [CustomConfig, ScalingConfig, MeasurementPeriod]
      Statistic:
        Fn::FindInMap: [CustomConfig, ScalingConfig, TriggerStatistic]
      Threshold:
        Fn::FindInMap: [CustomConfig, ScalingConfig, LowerThreshold]
  AutoScalingCustomScaleDownPolicy:
    Type: AWS::AutoScaling::ScalingPolicy
    Properties:
      AdjustmentType: ChangeInCapacity
      AutoScalingGroupName: {Ref: AWSEBAutoScalingGroup}
      ScalingAdjustment:
        Fn::FindInMap: [CustomConfig, ScalingConfig, LowerBreachIncrement]
  AutoScalingCustomScaleUpPolicy:
    Type: AWS::AutoScaling::ScalingPolicy
    Properties:
      AdjustmentType: ChangeInCapacity
      AutoScalingGroupName: {Ref: AWSEBAutoScalingGroup}
      ScalingAdjustment:
        Fn::FindInMap: [CustomConfig, ScalingConfig, UpperBreachIncrement]
