###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### The following parameter updates a load balancer idle timeout value to a custom value.
#### When your web browser or your mobile device makes a TCP connection to an Elastic Load Balancer,
#### the connection is used for the request and the response, and then remains open for a short
#### amount of time for possible reuse. This time period is known as the idle timeout for the
#### Load Balancer and is set to 60 seconds. Behind the scenes, Elastic Load Balancing also
#### manages TCP connections to Amazon EC2 instances; these connections also have a 60 second
#### idle timeout.
###################################################################################################

option_settings:
   - namespace: aws:elb:policies
     option_name: ConnectionSettingIdleTimeout
     value: 30
