###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### The following parameter configures a bucket name for the storage of access logs from the load 
#### balancer. The load balancer must have permission to upload logs to the bucket.
#### See the following topic for instructions: 
#### http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/enable-access-logs.html
###################################################################################################

Parameters:
  bucket: 
    Type: CommaDelimitedList
    Description: "Name of the Amazon S3 bucket in which to store load balancer logs"
    Default: "elasticbeanstalk-region-accountid"

##############################################
#### Do not modify values below this line ####
##############################################

Resources:
  AWSEBLoadBalancer:
    Type: AWS::ElasticLoadBalancing::LoadBalancer
    Properties:
      AccessLoggingPolicy:
        EmitInterval: 5
        Enabled: true
        S3BucketName: { "Ref" : "bucket" }