Parameters:
  bucket: 
    Type: CommaDelimitedList
    Description: "Name of the Amazon S3 bucket in which to store load balancer logs"
    Default: "elasticbeanstalk-region-accountid"

Resources:
  AWSEBLoadBalancer:
    Type: AWS::ElasticLoadBalancing::LoadBalancer
    Properties:
      AccessLoggingPolicy:
        EmitInterval: 5
        Enabled: true
        S3BucketName: { "Ref" : "bucket" }