###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
#### http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file to installs Amazon Inspector Agents on the windows instance launched
#### under Elastic Beanstalk.
#### https://docs.aws.amazon.com/inspector/latest/userguide/inspector_installing-uninstalling-agents.html
###################################################################################################


files:
  "C:\\Temp\\AWSAgentInstall.exe" :
    source: https://inspector-agent.amazonaws.com/windows/installer/latest/AWSAgentInstall.exe
commands:
  install_inspector:
    command: ""C:\\Temp\\AWSAgentInstall.exe"
    cwd: "C:\\Temp\\"
