###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
#### http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file uses appcmd.exe to set new IIS log file directory to a custom folder path
#### You should change the directory path 'X:\\folder\\' to your desired path before applying this configuration
###################################################################################################

commands:
  ChangeLogLocation:
    command: "%systemroot%\\system32\\inetsrv\\appcmd.exe set config -section:system.applicationHost/sites /siteDefaults.logFile.directory:'X:\\folder\\' /commit:apphost"
  IISreset:
    command: "%systemroot%\\system32\\iisreset.exe"
