###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
#### http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file can be used to assign EIP on the instance launched under Elastic Beanstalk
#### - Replace "MYEIPS" values with the list of your EIP Allocation IDs.
#### - The solution was tested on solution stack (64bit Windows Server 2016 v1.2.0 running IIS 10.0) and AMI (ami-xxxxxxxxxx).
###################################################################################################

packages:
  msi:
    awscli: https://s3.amazonaws.com/aws-cli/AWSCLI64PY3.msi
files:
  "C:\\assigneip.ps1":
    content: |
      $env:Path += ";C:\Program Files\Amazon\AWSCLI\bin\"
      $MYEIPS="eipalloc-xxxxxxxxxxxxxxxxx", "eipalloc-xxxxxxxxxxxxxxxxx", "eipalloc-xxxxxxxxxxxxxxxxx"
      $IID = (New-Object System.Net.WebClient).DownloadString("http://169.254.169.254/latest/meta-data/instance-id")
      $AV = (New-Object System.Net.WebClient).DownloadString("http://169.254.169.254/latest/meta-data/placement/availability-zone")
      $REGION=$AV -replace ".$"
      foreach ($EIP in $MYEIPS) {aws ec2 associate-address --allocation-id $EIP --instance-id $IID --no-allow-reassociation --region=$REGION}
container_commands:
  script:
    command: powershell.exe -ExecutionPolicy Bypass -File "C:\\assigneip.ps1"
