###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
#### http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file configures the timezone on each instance in the environment.
#### Its using tzutil command to set timezone on the instance. Have a look
#### at the URL https://technet.microsoft.com/en-us/library/cc749073%28v=ws.10%29.aspx for all possible
#### timezone values in this case its done for UTC+1
###################################################################################################

commands:
  setting_time_zone:
    command: tzutil /s "W. Europe Standard Time"
