###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
#### http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file enables WindowsFeature Web-Http-Tracing on the windows instance launched
#### under Elastic Beanstalk and request tracing will capture traces for requests which resulted in
#### status codes from 400 to 599; by default, the latest 50 error traces will be saved on:
#### %systemdrive%\inetpub\logs\FailedReqLogFiles\. Request Monitor will enable the feature to
#### monitor currently/hanging requests.
###################################################################################################


commands:
  00_install-web-http-tracing:
    command: "powershell.exe Install-WindowsFeature -Name Web-Http-Tracing"
    waitAfterCompletion: 0
  01_enable-web-http-tracing:
    command: "powershell.exe Enable-WebRequestTracing -StatusCodes 400-599"
    waitAfterCompletion: 0
  02_install-web-request-monitoring:
    command: "powershell.exe Install-WindowsFeature -Name Web-Request-Monitor"
    waitAfterCompletion: 0
